<div id="intro">
<h3> Funktiokone </h3>
<p>
Funktiokoneen tehtävä on muuttaa luku toiseksi luvuksi. Funktiokoneella on yksi sääntö, jota se aina noudattaa. Tämä sääntö voi olla esimerkiksi luvun kasvattaminen yhdellä tai sen jakaminen kahdella. Allaolevan esimerkin funktiokone kertoo sille annetun luvun kahdella.
</p>

<img src="./res/Funktiokone_new.jpg">

<p>Seuraavissa ohjelmointitehtävissä tutustutaan yksinkertaisten funktiokoneiden toteuttamiseen. Aluksi sinulle on annettu pari esimerkkiä funktiokoneiden ohjelmoinneista, jonka jälkeen sinun tulee itse tuottaa funktiokoneiden koodeja.</p>

</div>