<div id="outro">
<h3> Mitä opimme? </h3>
<p>
    Ohjelmoimalla voidaan nopeasti toteuttaa erilaisia funktiokoneita.
    Verratuna ihmisiin nämä ohjelmoidut funktiokoneet ovat nopeita:
    kotikäyttöisellä tietokoneella voi laskea satojatuhansia laskuja sekuntissa.
</p>
<p>
    Viimeisestä tehtävästä voidaan huomata, että ohjelmoinnissa funktiokoneet
    voivat olla myös monimutkaisia. On esimerkiksi mahdollista tehdä koodi,
    joka laskee annetulle ympyrän säteen avulla sen pinta-alan - tai vaikka talon
    tilavuuden ja neliömäärän sen mittojen perusteella.
</p>
<p>
    Samat periaatteet, joilla tehtävissä tehtiin funktiokoneita, ovat käytössä
    kaikkialla ohjelmoinnissa - kännykässäsi, sosiaalisen median verkkosivuissa, ja niin edelleen.
</p>
</div>