<div id="intro">
<h3> Verotus </h3>
<p>
    Veroja keräämällä valtio ja kunnat rahoittavat tarjoamiaan palveluitaan, esimerkiksi terveydenhuollon, opetuksen ja maanpuolustuksen.
    Suomessa on lukuisia eri veroja eri asioiden verottamiseen. Arvonlisäveroa peritään tuotteita myytäessä, kun taas palkasta maksetaan tuloveroa.
    Keskitytään seuraavaksi tuloveroon.
</p>
<p>
    Tuloveron voi toteuttaa joko tasaverona tai progressiivisena verona. Tasaverossa kaikilla on sama veroprosentti.
    Progressiivisessa verossa veroprosentti määräytyy tulojen suuruuden perusteella. Pienituloisilla on pienempi veroprosentti kuin suurituloisilla.
    Tasaveroa käytetään esimerkiksi Virossa palkkojen verotukseen ja Suomessa arvonlisäverona.
    Progressiivista verotusta käytetään monissa länsimaissa - esimerkiksi Suomessa - palkkojen verotukseen.
</p>
<p>
    Seuraavaksi on annettu muutama koodiesimerkki verojen laskemisesta. Katso esimerkit ja siirry sen jälkeen tehtäviin. Tarkoituksena on toteuttaa erilaisia verotusmalleja.
</p>
</div>