<div id="outro">
<h3> Mitä opimme? </h3>
<p>
    Tasaverossa kaikki maksoivat saman verran. Vähemmän varakkaille ihmisille tämä tuntuu isommalta summalta kuin niille, joilla rahaa on moninkertaisesti.
    Progressiivisessa verotuksessa maksetaan tietty osuus omista tuloista. Enemmän tienaavat maksavat enemmän, mutta koska verojen määrä seuraa tulojen määrää, tämä ei "mene kohtuuttomuuksiin".
</p>
<p>
    Tehtävässä kirjoitit koodeja verotusmallien laskemiseksi.
    Koodin pohjalta piirrettiin kuvaajat verojen kehittymisestä.
    Ohjelmoimalla voidaan siis helposti luoda työkaluja erilaisten verojen havainnollistamiseen.
    Näitä työkaluja voitaisiin käyttää esimerkiksi silloin, kun eduskunta säätää muutoksia verotukseen.
</p>
</div>