<div>
    
    <h3>Värit kuvataiteessa</h3>
    <p>
    On olemassa kolme eri pääväriä: punainen, sininen ja keltainen. Näitä värejä sekoittamalla voidaan luoda muita värejä.
    Yleisesti kuvataiteessa asetetaan vastaväri ja väri viereikkäin, koska ne korostavat tosiaan.
    </p>
     
<input class="btn btn-default" type="file" onchange="angular.element(this).scope().loadFile()" />

<button class="btn btn-default" ng-click="run()">Aja</button>

<button class="btn btn-default" ng-click="reset()">Palauta</button>


</div>
<div style="margin-top: 5px;" >
    
    <canvas id="canvas" width="200" height="200"></canvas>

</div>