
<h3> Vero </h3>
<p>
    Veroilla maksetaan valtion ja kunnan palveluita, kuten opetus ja terveydnenhoito.
    Eri asioita veroitetaan eri tavoin, esimerkiksi tuotteista ja palveluista maksetaan arvolisäveroa ja palkasta tuloveroa.
    Suomessa on progressiivinen verotus, eli mitä enemmän tuloja saat sitä suurempi on veroprosenttisi.
    Esimerkiksi Virossa käytössä on tasavero, eli kaikki maksavat saman veroprosentin tuloista.
</p>

<script type="text/javascript" src="js/libs/flot/jquery.flot.min.js"></script>

<div id="tax-plot" style="height: 400px; width: 100%;"></div>

<div id="legend"></div>

<button class="btn btn-primary" ng-click="plot()">Verota</button>


