<div id="intro">
<h3> Värioppi </h3>
<p>
    Kuvataiteessa puhutaan pääväreistä, joita sekoittamalla saadaan muita värejä. Usein punainen, keltainen ja sininen ovat päävärejä, kun taas muut värit saadaan näitä yhdistämällä - oranssissa on osa punaista ja osa keltaista. On kuitenkin olemassa muita tapoja valita päävärit. Tietokoneet käyttävät pääväreinä punaista, vihreää ja sinistä, jolloin puhutaan RGB-väriavaruudesta (Red, Green, Blue). Tulostimet käyttävät pääväreinään turkoosia, magentaa, keltaista ja mustaa värien valmistamiseen liittyvistä syistä. Puhutaan CMYK-väriavaruudesta (Cyan, Magenta, Yellow, blacK).
</p>
<p>
    Tutustutaan tarkemmin RGB-väriavaruuden käyttämiseen. Värit esitetään tietokoneille lukuina: jokaisella värillä on kolme lukua: punaisen määrä, vihreän määrä ja sinisen määrä värissä. Jokainen luku on pienimmillään 0 ja suurimmillaan 255. Esimerkiksi kirkas punainen vastaisi lukuja 255 (punaisen määrä), 0 (vihreän määrä), 0 (sinisen määrä). Kirkas turkoosi saadaan ottamalla 0 punaista, 255 vihreää ja 255 sinistä. Mikäli halutaan mustaa, otetaan luvuiksi 0 punaista, 0 vihreää ja 0 sinistä. Valkoista saataisiin puolestaan ottamalla 255 punaista, 255 vihreää ja 255 sinistä. Tumma vihreä voisi olla esimerkiksi 0 punaista, 50 vihreää, 0 sinistä.
</p>
<p>
    Värien lisäksi tietokoneen pitää tietää, mitkä alueet kuvassa ovat mitäkin väriä. Yleensä tietokoneet tekevät tämän jakamalla kuvan ruudukoksi. Ruudukon jokaiselle neliölle annetaan oma värinsä. Kun ruudukko on tarpeeksi pieni eli kun ruutuja on tarpeeksi monta, kuvista saadaan hyvinkin realistisen näköisiä. Alla on esimerkki Mona Lisasta kahdessa erilaisessa ruudukossa: vasemman ruudukon koko on 13 kertaa 20 ruutua, jolloin ruudut ovat isoja ja kuva näyttää hyvinkin erilaiselta kuin alkuperäinen maalaus. Oikeanpuoleisen ruudukon koko on 134 kertaa 200, jolloin yksittäiset ruudut ovat niin pieniä, että niitä on hankala nähdä paljain silmin. Tällöin saatu kuva muistuttaa paljon enemmän alkuperäistä maalausta.
</p>
    <img src="res/Mona_Lisa_pixels.png" /> <img src="res/Mona_Lisa.jpg" />
<p>
    Kuvia voidaan käsitellä tietokoneella muokkaamalla jokaisen ruudun väriä yksitellen. Seuraavaksi saat ohjelmointitehtäviä, joissa sinun tulee muokata värejä ja siten saada kuvista erilaisia. Ennen tehtäviä on annettu pari esimerkkejä koodista, jonka jälkeen pääset itse tekemään koodeja.
</p>
</div>