<div id="outro">
<h3> Mitä opimme? </h3>
<p>
    RGB-väriavaruudessa värit muodostetaan käyttäen kolmea pääväriä: punaista, vihreää ja sinistä.
    Jokainen näistä voidaan esittää yhtenä numerona, siispä tietokoneen silmissä jokainen väri voidaan esittää kolmena lukuna.
    Musta väri olisi lukuina 0,0 ja 0; valkoinen 255, 255 ja 255; kirkas vihreä 0, 255, 0; ja niin edelleen.
    Tietokone käsittelee kuvia ruudukkoina, joissa jokaisella ruudulla on oma värinsä.
</p>
<p>
    Yksinkertaisillakin värien muutoksilla voidaan saada helposti aikaan isoja muutoksia kuvissa.
    Tehtävissä tehdyt muokkaukset kuviin olivat yksinkertaisia, mutta luonteeltaan samoja kuin mitä esimerkiksi kuvankäsittelyohjelmissa näkee.
    Tehtävissä käytettyä ohjelmointia voisi käyttää esimerkiksi visuaalisiin erikoisefekteihin tietokoneohjelmissa tai elokuvissa, tai vaikkapa valokuvien ehostamiseen digitaalisesti.
</p>
</div>