<input class="btn btn-default" type="file" onchange="angular.element(this).scope().loadFile(exerciseIndex)" />

<button class="btn btn-default" ng-click="reset(exerciseIndex)">Palauta alkuperäinen kuva</button>

<button class="btn btn-default" ng-click="run($event, exerciseIndex)" data-loading-text="Käsitellään kuvaa..." >Aja koodi</button>


</div>
<div style="margin-top: 5px;" >
    
    <canvas id="canvas-{{exerciseIndex}}" width="200" height="200"></canvas> <!-- initial width should get overridden -->

</div>